@model IEnumerable<Sistema_Compras.Departamentos>

@{
    ViewBag.Title = "Index";
}

<h2>Departamentos</h2>

<p>
    @Html.ActionLink("Crear Departamento", "Create")
</p>

@* La barra de busqueda Inicia *@
<form class="form-inline active-pink-3 active-pink-4" method="get">
    <input class="form-control form-control-sm ml-3 w-75" type="text" id="Criterio" name="Criterio" />
    <input class="btn btn-info" type="submit" id="cmdBuscar" value="Buscar" />
</form>
@* La barra de busqueda Fin *@


<table class="table table-striped table-dark">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdDep }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.IdDep }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.IdDep })
            </td>
        </tr>
    }

</table>
