@model Sistema_Compras.Medidas

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Medidas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Unidad_de_Medida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unidad_de_Medida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdMedida }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
