@model Sistema_Compras.Marcas

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Marcas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdMarca }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
